body {
	background-image: url('../img/white-diagonal-striped-plastic-texture.jpg');
}

.panel.panel-info {
	width: 70%;
	opacity: 0;
	position: relative;
	transition: opacity 1s ease-out 0.5s;

	margin: 15px auto;
}

.panel.panel-info.showMessage {
	opacity: 1;
}

.glyphicon.glyphicon-pushpin {
	float: right;
}

.panel-heading, .panel-body {
	text-align: center;
}